<header class="Header">
  <div class="margin">
    <nav class="Header__nav">
      <a routerLink="/" class="Header__logo" *ngIf="!session">
        <img src="/assets/images/logo.png" alt="logo">
        <span>TuQueja</span>
      </a>
      <a routerLink="/about" class="Header__about" *ngIf="!session">
        <span>About</span>
      </a>
      <a routerLink="/complaints" class="Header__about" *ngIf="session">
        <md-icon>home</md-icon>
        <span>Inicio</span>
      </a>
      <a class="Header__about" *ngIf="session">
        <md-icon>notifications</md-icon>
        <span>Notificaiones</span>
      </a>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
