<div class="Publish__item">
  <div class="User__data">
    <a [routerLink]="['/user', publish.user.id]" class="User__photo" style="background-image: url(/assets/images/person.jpg)"></a>
    <div class="User__text">
      <h3><a [routerLink]="['/user', publish.user.id]">{{publish.user.firstName}} {{publish.user.lastName}}</a></h3>
      <p>{{publish.createdAt | amDateFormat:'MMMM Do YYYY, h:mm a'}}</p>
    </div>
  </div>
  <div class="Content__statement">
    <div class="Statement__company">
      <span>Empresa:</span>
      <p>{{publish.company.name}}</p>
    </div>
    <div class="Statement__text">
      <p>{{publish.statement}}</p>
    </div>
    <!-- <div class="Statement__image">
      <img src="/assets/images/movistar.jpg" alt="">
    </div> -->
  </div>
  <div class="Options__content">
    <ul class="Options__list">
      <li [ngClass]="{true: 'active'}[likeUser]">
        <md-icon>thumb_up</md-icon>
        <span>{{publish.likes.length}}</span>
      </li>
      <li>
        <md-icon>comment</md-icon>
        <span>{{publish.comments.length}}</span>
      </li>
    </ul>
  </div>
  <div class="Tools__content">
    <ul class="Tools__list">
      <li (click)="like()" [ngClass]="{true: 'active'}[likeUser]">
        <md-icon>thumb_up</md-icon>
        <span>Me gusta</span>
      </li>
      <li (click)="getComments()">
        <md-icon>comment</md-icon>
        <span>Comentar</span>
      </li>
    </ul>
  </div>
  <comments-component [user]="user" [comments]="comments" [publish]="publish" *ngIf="comments"></comments-component>
</div>
