<div class="Register">
  <h3>Registro</h3>
  <div class="Register__inputs">
    <input type="text" name="firstName" placeholder="Nombres" #firstName>
    <input type="text" name="lastName" placeholder="Apellidos" #lastName>
    <input type="text" name="email" placeholder="Email" #email>
    <input type="password" name="password" placeholder="Password" #password>
  </div>
  <div class="Register__foot">
    <button md-raised-button class="button__green" (click)="register(firstName.value, lastName.value, email.value, password.value)">Registrarse</button>
  </div>
</div>
