@import "../../styles/index.scss";

.Wrapper {
  height: -moz-calc(100% - 73px);
  height: -webkit-calc(100% - 73px);
  height: calc(100% - 73px);
}

.Content {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;

  .Shadow {
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0,0,0,.5);
  }

  .margin {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 10px 30px;

    .Content__form,
    .Content__text {
      float: left;
      width: 50%;
      padding: 0 30px;
    }

    .Content__form {
      .Form__login,
      .Form__register {
        display: block;
        max-width: 300px;
      }

      .Form__login {
        margin-bottom: 20px;
      }
    }

    .Content__text {
      h1 {
        font-family: Open-Sans;
        font-weight: 600;
        color: white;
        font-size: 30px;
        margin-bottom: 20px;
      }

      .Text__paragraph {
        p {
          font-family: Open-Sans;
          font-weight: 400;
          font-size: 16px;
          color: white;
        }
      }
    }
  }
}
