<div class="Publish__item">
  <div class="User__data">
    <div class="User__photo" style="background-image: url(/assets/images/person.jpg)"></div>
    <div class="User__text">
      <h3>Jose Acosta Rojas</h3>
      <p>13 de junio, 2017</p>
    </div>
  </div>
  <div class="Content__statement">
    <div class="Statement__text">
      <p>Donec vel consectetur justo, rhoncus feugiat risus. Vestibulum vehicula eros eu nunc consectetur, ut posuere purus volutpat. Praesent ut auctor sem, ac cursus sem. Proin auctor, arcu sit amet aliquet viverra, quam neque maximus lacus, id
        gravida magna massa vel purus.</p>
    </div>
    <div class="Statement__image">
      <img src="/assets/images/movistar.jpg" alt="">
    </div>
  </div>
  <div class="Options__content">
    <ul class="Options__list">
      <li>
        <md-icon>thumb_up</md-icon>
        <span>7</span>
      </li>
      <li>
        <md-icon>comment</md-icon>
        <span>5</span>
      </li>
    </ul>
  </div>
  <div class="Tools__content">
    <ul class="Tools__list">
      <li>
        <md-icon>thumb_up</md-icon>
        <span>Me gusta</span>
      </li>
      <li>
        <md-icon>comment</md-icon>
        <span>Comentar</span>
      </li>
    </ul>
  </div>
</div>
