<div class="Publish">
  <div class="Publish__top">
    <div class="Top__user" style="background-image: url(/assets/images/person.jpg)"></div>
    <div class="Top__company">
      <input type="text" name="company" placeholder="Nombre de la empresa" id="company">
      <label for="company">Empresa</label>
    </div>
  </div>
  <div class="Publish__textarea">
    <textarea name="complaint" placeholder="Escrine tu queja..."></textarea>
  </div>
  <div class="Publish__foot">
    <div class="Foot__tools">
      <div class="Tool__item">
        <md-icon>camera_alt</md-icon>
        <span>Foto</span>
      </div>
    </div>
    <div class="Foot__button">
      <button md-raised-button class="button__green">Publicar</button>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
