<div class="Login">
  <div class="Login__inputs">
    <input type="text" name="email" placeholder="Email" #email [ngClass]="{true: 'validInput'}[valid.email]">
    <input type="password" name="password" placeholder="Password" #password [ngClass]="{true: 'validInput'}[valid.password]">
  </div>
  <div class="Login__foot">
    <a href="">Recuperar contraseña</a>
    <button md-raised-button class="button__green" (click)="login(email.value, password.value)">Ingresar</button>
    <div class="clearfix"></div>
  </div>
</div>
