<div class="Companies__content">
  <div class="Conpanies__filter">
    <input type="text" name="filter" placeholder="Buscar empresa">
  </div>
  <div class="Companies__list">
    <company-item-component company="Movistar" publish="1250"></company-item-component>
    <company-item-component company="Metro" publish="1119"></company-item-component>
    <company-item-component company="Claro" publish="1046"></company-item-component>
    <company-item-component company="KFC" publish="785"></company-item-component>
  </div>
</div>
