<header-component></header-component>
<div class="Wrapper">
  <div class="margin">
    <div class="About__mission">
      <div class="Mission__image">
        <img src="/assets/images/logo.png" alt="logo">
      </div>
      <div class="Mission__text">
        <p>Duis ultrices purus id purus volutpat faucibus. Nam mollis sit amet odio at pharetra. Nullam tincidunt magna lobortis,
          volutpat nulla et, euismod ipsum. Morbi pulvinar est non dolor ullamcorper cursus.</p>
      </div>
    </div>
    <div class="About__terms">
      <p>Aenean elementum lectus nec gravida varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Vestibulum rutrum tincidunt aliquam. Integer quam turpis, blandit nec facilisis sed, dapibus eu enim.
        Donec dapibus elit aliquam ex condimentum, quis viverra ante ornare. Phasellus venenatis ligula at orci convallis
        molestie ac non tellus. Quisque ullamcorper tempus leo, et aliquam leo sodales iaculis.</p>
      <p>Maecenas eu facilisis nunc. Nam feugiat, metus eget hendrerit pretium, orci sapien condimentum leo, at pharetra enim
        sapien non nulla. Proin ligula velit, tincidunt consequat purus et, imperdiet sollicitudin leo. Aenean blandit at
        justo sed pellentesque. Praesent nisi arcu, cursus et tincidunt eget, luctus ut lacus. Phasellus venenatis diam in
        suscipit hendrerit. Nulla aliquam sit amet purus a posuere. Aliquam erat volutpat. Etiam nec diam risus. Aliquam
        eleifend eget nisi ac malesuada. Nulla ut sem vel purus facilisis luctus. Cras blandit a quam non venenatis. Duis
        quis orci volutpat, euismod elit sed, convallis magna. Nullam quis nulla ut ante gravida molestie lacinia vitae nisi.</p>
      <p>Donec luctus est eleifend orci sagittis dapibus. Mauris tincidunt commodo tortor ac gravida. Etiam sem quam, commodo
        sed facilisis eu, aliquet et arcu. Donec consectetur elementum massa, et porttitor velit iaculis at. Nam hendrerit
        non erat sed tincidunt. Integer nulla sem, laoreet at imperdiet non, sodales at nibh. Fusce sit amet eleifend urna,
        at venenatis lacus. Integer rutrum rutrum porttitor. Nunc dignissim iaculis ipsum, in sodales ipsum facilisis a.
        Maecenas tincidunt ante sit amet pretium vestibulum.</p>
    </div>
  </div>
</div>
<footer-component></footer-component>
