<div class="Wrapper">
  <div class="Content" style="background-image: url(/assets/images/background.jpg)">
    <div class="Shadow">
      <div class="margin">
        <div class="Content__text">
          <h1>Lorem ipsum dolor sit amet</h1>
          <div class="Text__paragraph">
            <p>Mauris ultricies hendrerit accumsan. Integer scelerisque mi lorem, ac pharetra justo porta id. Phasellus sed scelerisque libero, id fermentum enim. Nam varius odio vitae lorem pulvinar, eget tincidunt ante efficitur.</p>
          </div>
        </div>
        <div class="Content__form">
          <div class="Form__login">
            <div class="Login__inputs">
              <input type="text" name="email" placeholder="Email">
              <input type="password" name="password" placeholder="Password">
            </div>
            <div class="Login__foot">
              <a href="">Recuperar contraseña</a>
              <button md-raised-button class="button__green">Ingresar</button>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="Form__register">
            <h3>Registro</h3>
            <div class="Register__inputs">
              <input type="text" name="firstName" placeholder="Nombres">
              <input type="text" name="lastName" placeholder="Apellidos">
              <input type="text" name="email" placeholder="Email">
              <input type="password" name="password" placeholder="Password">
            </div>
            <div class="Register__foot">
              <button md-raised-button class="button__green">Registrarse</button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
