<div class="Wrapper">
  <div class="Content" style="background-image: url(/assets/images/background.jpg)">
    <div class="Shadow">
      <div class="margin">
        <div class="Content__text">
          <h1>Lorem ipsum dolor sit amet</h1>
          <div class="Text__paragraph">
            <p>Mauris ultricies hendrerit accumsan. Integer scelerisque mi lorem, ac pharetra justo porta id. Phasellus sed scelerisque libero, id fermentum enim. Nam varius odio vitae lorem pulvinar, eget tincidunt ante efficitur.</p>
          </div>
        </div>
        <div class="Content__form">
          <login-component class="Form__login"></login-component>
          <register-component class="Form__register"></register-component>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
