@import "../../styles/index.scss";

.Footer {
  background-color: rgb(30,30,30);
  padding: 5px 0;

  .margin {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
    .Owner {
      float: right;
      p {
        font-family: Open-Sans;
        font-weight: 100;
        font-size: 12px;
        color: white;
        span {
          font-weight: 600;
        }
      }
    }
  }
}
