<div class="Publish">
  <div class="Publish__top">
    <div class="Top__user" style="background-image: url(/assets/images/person.jpg)"></div>
    <div class="Top__company">
      <textarea name="complaint" placeholder="Escribe tu queja sobre {{company.name}}" [ngClass]="{true: 'validInput'}[valid.statement]" #statement
        [(ngModel)]="InputStatement"></textarea>
      <div class="Publish__foot">
        <div class="Foot__tools">
          <div class="Tool__item">
            <md-icon>camera_alt</md-icon>
            <span>Foto</span>
          </div>
        </div>
        <div class="Foot__button">
          <button md-raised-button class="button__green" (click)="sendPublish(statement.value)">Publicar</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
